h1 {
  color: blue;
  text-align: center;
}

button {
  color: blue;

  padding: 10px;
  border-radius: 6px;
  margin-top: 30px;
}

input {
  padding: 5px;

  border-radius: 6px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.task-list li {
  display: flex;
  align-items: center;
}

.task-list button {
  margin: 0;
}

.input-title {
  width: 85%;
  border: 1px solid blue;
}

button {
  border: 0;
  background-color: burlywood;
  color: #282828;
}

button:hover {
  background-color: blue;
  color: #fff;
}

.is-done .input-title {
  background: green;
  color: #fff;
}
